.button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color:  #7367F0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.button:hover {
    cursor: pointer;
}

.gif {
    width: 35px;
    position: relative;
    height: 30px;
    top: -4px;
}

