.container {
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.12);
    min-height: 35px;
}

@media only screen and (max-width: 768px) {
    .container {
        border-radius: 0px;
    }
}

.paddingContainer {
    padding: 13px;
}

.highContainer {
    height: 100%;
}

.blockContainer {
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .blockContainer {
        display: flex;
    }
}