.title {
    font-weight: bold;
    font-size: 36px;
    color: #7367F0;
    margin-left: 100px;
}

@media only screen and (max-width: 768px) {
    .title {
        width: 100%;
        font-size: 48px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.subTitle {
    width: 50%;
    font-size: 16px;
    line-height: 2;
    margin-left: 100px;
}

@media only screen and (max-width: 768px) {
    .subTitle {
        width: 80%;
        line-height: 2;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.landingLogin img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(-30px 30px 0px rgba(115, 103, 240, 0.2));
}

@media only screen and (max-width: 768px) {
    .landingLogin img {
        width: 200px;
        height: 152px;
        margin-left: 80px;
        margin-bottom: 75px;
    }
}

.margin {
    margin-top: 30px;
}


.container {
    display: flex;
    height: 500px;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flow-root;
        height: auto;
    }
}

.landingLogin {
    margin: auto;
    width: 50%;

}

@media only screen and (max-width: 768px) {
    .landingLogin {
        width: 100%;
    }
}