body {
    font-family: Arial;
    font-size: 18px;
    color: #6E6B7B;
}

ul {
    margin: 0;
}

input {
    outline:none;
}
input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}